# Ignorar todo por defecto
**

# Permitir archivos esenciales
!app/**
!trained_models/**
!alembic/**
!alembic.ini
!requirements.txt
!Dockerfile
!start.sh

# Ignorar archivos específicos dentro de carpetas permitidas
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/htmlcov
**/.coverage
**/*.backup*
app/**/*.log
app/emails_out/*.html